/* Palette */
$palette-back-dark: #eaeaea;
$palette-back: #fafafa;
$palette-back-block: #fff;
$palette-fore: #0d0d0d;
$palette-fore-muted: #b0b0b0;
$palette-accent: #fa6e32;

/* Fonts */
$font-base: 'Fira Sans', sans-serif;
$font-code: 'Fira Mono', monospace;

/* Basic blocks */
html {
  font-family: $font-base;
  font-size: 16px;
  color: $palette-fore;
  background: $palette-back;
}

body {
  max-width: 50rem;
  margin: 0 auto;
}

header {
  margin-bottom: 20px;
}

header.list {
  margin-bottom: 10px;
}

footer {
  margin: 20px 0 40px 0;
}

h1, h2 {
  margin-bottom: 10px;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.2em;
}

p, ul, ol {
  padding: 10px 20px;
  background: $palette-back-block;
  box-shadow: 0px 2px 3px rgba(200, 200, 200, .1);
  margin: 0 -20px;
}

ul, ol {
  list-style-position: inside;
}

table {
  margin: 10px;
}

th, td {
  padding: 5px 10px;
}

th {
  text-align: start;
}

code, pre {
  font-family: $font-code;
  font-size: 16px;
  background: $palette-back;
}

code {
  box-shadow: inset 0px 0px 3px $palette-back-dark;
  padding: 2px 6px;
  margin: 0 2px;
}

hr {
  border: none;
  border-top: dotted 3px;
  color: $palette-fore-muted;
}

div[itemprop="articleBody"] hr {
  margin: 20px 0;
}

a {
  color: $palette-accent;
  text-decoration: none;
  padding: 5px;
  margin: -5px;
}
a:hover {
  color: $palette-back;
  background: $palette-accent;
}

nav {
  margin: 10px 0 20px 0;
}

nav a {
  padding: 5px;
  margin-left: -5px;
  margin-right: 10px;
}

li {
  padding: 5px 20px;
}

ul.catalog {
  padding-left: 0;
  background: $palette-back;
  box-shadow: none;

  li {
    list-style-type: none;
  }
}

img {
  height: auto;
  max-width: 50rem;
}

blockquote {
  margin: 10px 0;
  padding-left: 10px;
  border-left: dotted 3px $palette-fore-muted;
}

blockquote p {
  margin: 0;
  padding: 0 20px;
  background: $palette-back;
  box-shadow: none;
}

/* Classes */
.muted {
  color: $palette-fore-muted;
}

.icon {
  margin-bottom: -4px
}

.topbar {
  margin-top: 20px;
}

.counter {
  background: $palette-back;
  color: $palette-fore-muted;
  text-align: center;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.paginator {
  margin-top: 20px;
}

.secret {
  padding: 10px 20px;
  border: solid 1px $palette-back-dark;
  box-shadow: inset 0px 0px 3px $palette-back-dark;
  margin: 18px -20px;
  background: repeating-linear-gradient(
    -55deg,
    $palette-back-dark,
    $palette-back-dark 10px,
    $palette-back 10px,
    $palette-back 20px
  );
  position: relative;
}
.secret p {
  opacity: 0;
  transition: opacity 1s ease-in;
}
.secret:hover p {
  opacity: 0.9;
}

.secret-icon {
  background: $palette-back-dark;
  color: $palette-fore-muted;
  padding: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -29px;
  margin-left: -24px;
}
