{% extends "index.html" %}

{% block content %}
    <h1>Теги</h1>

    <div>
        Теги — это метки, позволяющие приблизительно дифференцировать посты по темам.
        Если вы ищете более общую классификацию, например конкретный цикл статей или посты
        конкретного автора, проверьте разделы <a href="/categories">Категории</a> и <a href="/authors">Авторы</a>.
    </div>

    {% if terms %}
        <ul class="catalog">
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
                    <span class="counter">{{ term.pages | length }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
