{% extends "index.html" %}

{% block content %}
    <h1>Авторы</h1>

    <div>
        Этот блог — плод коллективного творчества товарищей из IRC канала #cc.ru.
        Ссылка на канал находится в шапке сайта. Не пугайтесь возможного флуда,
        оставляйте фидбек. Если кто-то будет онлайн, он обязательно ответит.
    </div>
    <br />
    <div>
        Для блога писали:
    </div>

    {% if terms %}
        <ul class="catalog">
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
                    <span class="counter">{{ term.pages | length }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
