{% extends "index.html" %}

{% block content %}
    <h1>Категории</h1>

    <div>
        Категории — это общий классификатор статей, который объединяет отдельные посты
        в циклы. Для поиска по более конкретной тематике попробуйте <a href="/tags">Теги</a>.
    </div>

    {% if terms %}
        <ul class="catalog">
            {% for term in terms %}
                <li>
                    <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
                    <span class="counter">{{ term.pages | length }}</span>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock content %}
