{% import "post_macros.html" as post_macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="content-type" content="text/html; charset=utf-8">

        <!-- Enable responsiveness on mobile devices-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

        <title>{% block title %}{{ config.title }}{% if page and page.title %} : {{ page.title }} {% endif %}{% endblock title %}</title>

        {% if config.generate_rss %}
        <link rel="alternate" type='application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}'>
        {% endif %}

        {% block css %}
          <link rel="stylesheet" href='{{ get_url(path="site.css", trailing_slash=false) | safe }}'>
        {% endblock css %}

        {% block extra_head %}
        {% endblock extra_head %}

        <link rel="shortcut icon" href='{{ get_url(path="favicon.png", trailing_slash=false) | safe }}' />
        <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    </head>

    <body class="hack dark main container">
        {% block header %}
            {% if config.extra.after_dark_menu %}
            <header>
                <nav itemscope itemtype="http://schema.org/SiteNavigationElement">
                    {% for item in config.extra.after_dark_menu %}
                        <a itemprop="url"
                           class='{% if item.url | replace(from="$BASE_URL", to=config.base_url) == current_url %}active{% endif %}'
                           href='{{ item.url | safe | replace(from="$BASE_URL", to=config.base_url) }}'>
                            <span itemprop="name">{{ item.name }}</span>
                        </a>
                    {% endfor %}
                </nav>
            </header>
            {% endif %}
        {% endblock header %}

        {% block content %}
            <main>
                {% if config.extra.after_dark_title %}
                    <header>
                        <h1>{{ config.extra.after_dark_title }}</h1>
                    </header>
                {% endif %}
                {% for page in paginator.pages %}
                    {{ post_macros::page_in_list(page=page) }}
                {% endfor %}

                <nav class="paginator">
                  <span>
                    {% if paginator.previous %}
                      <a href="{{ paginator.previous }}">&laquo; Сюда</a> |
                    {% endif %}
                    <span>Страница {{ paginator.current_index }} из {{ paginator.number_pagers }}</span>
                    {% if paginator.next %}
                      | <a href="{{ paginator.next }}">Туда &raquo;</a>
                    {% endif %}
                  </span>
                </nav>
            </main>
        {% endblock content %}
    </body>

</html>
