{% extends "index.html" %}
{% import "post_macros.html" as post_macros %}

{% block content %}

<article itemscope itemtype="http://schema.org/BlogPosting">
    <header>
        <h1 itemprop="headline">{{ page.title }}</h1>
        <span class="muted">{{ post_macros::meta(page=page) }}</span>
        <hr>
    </header>
    <div itemprop="articleBody">
      {{ page.content | safe }}
    </div>

    {% block page_footer %}
        <footer>
            <hr>
            <span class="muted">
                {% if page.taxonomies.categories %}
                    выложено в
                    {% for category in page.taxonomies.categories %}
                        <a href='{{ get_taxonomy_url(kind="categories", name=category) | safe }}'>{{ category }}</a>
                        {% if page.taxonomies.categories | length > 1 %}
                            {% if loop.index != page.taxonomies.categories | length %}
                                {% if loop.index == page.taxonomies.categories | length - 1 %}
                                    и
                                {% else %}
                                    ,
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if page.taxonomies.categories and page.taxonomies.tags %} и {% endif %}
                {% if page.taxonomies.tags %}
                    отмечено тегами
                    {% for tag in page.taxonomies.tags %}
                        <a href='{{ get_taxonomy_url(kind="tags", name=tag) | safe }}'>{{ tag }}</a>
                        {% if page.taxonomies.tags | length > 1 %}
                            {% if loop.index != page.taxonomies.tags | length %}
                                {% if loop.index == page.taxonomies.tags | length - 1 %}
                                    и
                                {% else %}
                                    ,
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </span>
        </footer>
    {% endblock page_footer %}
</article>

{% endblock content %}
